@import 'tailwindcss';

.modal-wrapper {
  @apply fixed flex flex-col justify-center items-center 
  inset-0  w-screen h-screen 
  md:size-auto md:max-h-none md:max-w-none 
  overflow-y-auto bg-transparent backdrop:bg-transparent;
}
.modal-backdrop {
  @apply fixed inset-0 bg-gray-500/75 transition-opacity 
  data-closed:opacity-0 
  data-enter:duration-300 data-enter:ease-out 
  data-leave:duration-200 data-leave:ease-in;
}

.modal-content {
  @apply bg-white px-2 py-1 sm:p-6 sm:pb-4 w-full h-full;
}
.modal-inner {
  @apply relative transform overflow-hidden rounded-lg bg-white 
  flex flex-col justify-center items-center
  text-left shadow-xl transition-all data-closed:translate-y-4 
  data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out 
  data-leave:duration-200 data-leave:ease-in sm:my-4 sm:w-full 
  sm:max-w-lg data-closed:sm:translate-y-0 data-closed:sm:scale-95;
}
.modal-header {
  @apply border-b  border-gray-200 flex justify-between items-center;
}
.modal-title {
  @apply text-sm md:text-xl font-semibold text-gray-800;
}
.modal-body {
  @apply mb-4 text-gray-700 dark:text-gray-300;
}
.modal-footer {
  @apply flex justify-end;
}
.modal-button {
  @apply text-red-400 py-0.5 px-2 cursor-pointer
  border border-red-400 rounded-sm
   hover:text-red-600 hover:border-red-600 
   transition duration-150 ease-in-out text-3xl leading-none;
}
.modal-children {
  @apply py-2 max-h-[800px] overflow-auto;
}
