@import 'tailwindcss';

.list-item {
  @apply flex justify-center items-center 
  rounded-sm max-w-30 
  w-full h-auto text-sm;
}
.list-item-title {
  @apply text-[8px] lg:text-[12px] md:text-[10px] sm:text-[8px] py-0.5 sm:py-1;
}
.truncate-text {
  @apply truncate text-ellipsis overflow-hidden min-w-0 whitespace-break-spaces sm:whitespace-nowrap;
}
