@import 'tailwindcss';
.list-item {
  @apply flex justify-center items-center 
  rounded-sm max-w-30 
  w-full h-6 text-sm;
}
.list-item-title {
  @apply text-[12px];
}
.truncate-text {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
