@import 'tailwindcss';

.calendar-wrapper {
  @apply flex flex-col justify-center items-center  bg-white dark:bg-gray-700 rounded-lg shadow-md;
}
.heading {
  @apply text-3xl m-2 font-bold mb-4 text-gray-800 dark:text-gray-200;
}
