@import 'tailwindcss';

.card {
  @apply flex flex-col justify-center items-center w-full h-full;
}
.card-title {
  @apply text-2xl m-3;
}
.card-description {
  @apply m-3;
}
.card-date {
  @apply m-2;
}
.card-time-wrapper {
  @apply flex justify-around items-center w-full;
}
.card-start-time,
.card-end-time {
  @apply p-4 border rounded-sm;
}
.row {
  @apply flex justify-around items-center w-full;
}
.card-priority {
  @apply py-2 px-3 rounded-sm;
}
