@import 'tailwindcss';
:root {
  --background-color-light: oklch(96.7% 0.003 264.542);
  --background-color-dark: oklch(27.8% 0.033 256.848);
  --text-color-light: #ddd;
  --text-color-dark: oklch(27.8% 0.033 256.848);
  --hyperlink-color: #646cff;
  --hyperlink-hover-color: #535bf2;
  --border-color-dark: #333;
  --border-color-light: #ccc;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.container-light {
  @apply bg-gray-100 text-gray-800;
}
.container-dark {
  @apply bg-gray-800 text-gray-100;
}
.hyperlink {
  color: var(--hyperlink-color);
}
.hyperlink:hover {
  color: var(--hyperlink-hover-color);
}
.priority-normal {
  @apply bg-teal-200 border border-teal-400;
}
.priority-normal:hover {
  @apply bg-teal-300;
}
.priority-low {
  @apply bg-green-200 border border-green-400;
}
.priority-low:hover {
  @apply bg-green-300;
}
.priority-very-low {
  @apply bg-lime-200 border border-lime-400;
}
.priority-very-low:hover {
  @apply bg-lime-300;
}
.priority-high {
  @apply bg-orange-200 border border-orange-400;
}
.priority-high:hover {
  @apply bg-orange-300;
}
.priority-very-high {
  @apply bg-red-200 border border-red-400;
}
.priority-very-high:hover {
  @apply bg-red-300;
}
